<div id="<%= dom_id social_media_investigation %>">
  <p>
    <strong>Platform:</strong>
    <%= social_media_investigation.platform %>
  </p>

  <p>
    <strong>Platform account key:</strong>
    <%= social_media_investigation.platform_account_key %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= social_media_investigation.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= social_media_investigation.ended_at %>
  </p>

  <p>
    <strong>Api payload:</strong>
    <%= social_media_investigation.api_payload %>
  </p>

</div>
