<p style="color: green"><%= notice %></p>

<%= render @social_media_investigation %>

<div>
  <%= link_to "Edit this social media investigation", edit_social_media_investigation_path(@social_media_investigation) %> |
  <%= link_to "Back to social media investigations", social_media_investigations_path %>

  <%= button_to "Destroy this social media investigation", @social_media_investigation, method: :delete %>
</div>
